.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u161-4
{
	font-family: josefin-slab-n7, serif;
}

#u181-4
{
	font-family: josefin-slab-n7, serif;
}

#u186-4
{
	font-family: josefin-slab-n7, serif;
}

#u193-4
{
	font-family: josefin-slab-n7, serif;
}

#u106-4,#u93-4,#u105-4
{
	font-family: sirin-stencil-n4, sans-serif;
}

#u88-4,#u91-4,#u418-4
{
	font-family: josefin-slab-n7, serif;
}

#u412-4
{
	font-family: josefin-slab-n7, serif;
}

#u426-4
{
	font-family: josefin-slab-n7, serif;
}

#u404-4
{
	font-family: josefin-slab-n7, serif;
}

#u374-4,#u435-4
{
	font-family: josefin-slab-n7, serif;
}

#u455-4
{
	font-family: josefin-slab-n7, serif;
}

#u440-4
{
	font-family: josefin-slab-n7, serif;
}

#u446-4
{
	font-family: josefin-slab-n7, serif;
}

#u375-4,#u325-4,#u327-4
{
	font-family: dancing-script-n4, sans-serif;
}

#u324-4,#u326-4,#u470-4
{
	font-family: josefin-slab-n7, serif;
}

#u479-4
{
	font-family: josefin-slab-n7, serif;
}

#u463-4
{
	font-family: josefin-slab-n7, serif;
}

#u484-4
{
	font-family: josefin-slab-n7, serif;
}

#u496-4
{
	font-family: open-sans-n3, sans-serif;
}

#u505-4,#u498-4
{
	font-family: josefin-slab-n7, serif;
}

#u503-4
{
	font-family: open-sans-n3, sans-serif;
}

#u502-4
{
	font-family: josefin-slab-n7, serif;
}

#u494-4
{
	font-family: open-sans-n3, sans-serif;
}

#u493-4
{
	font-family: open-sans-n3, sans-serif;
}

#u499-4
{
	font-family: open-sans-n3, sans-serif;
}

#u491-4
{
	font-family: open-sans-n3, sans-serif;
}

#u490-4
{
	font-family: josefin-slab-n7, serif;
}

#widgetu495_input,#widgetu495_prompt,#widgetu500_input,#widgetu500_prompt,#widgetu489_input,#widgetu489_prompt
{
	font-family: josefin-slab, serif;
}

#u512-4
{
	font-family: josefin-slab-n7, serif;
}

